JWT_SECRET=
TZ=UTC

MYSQL_HOST=db
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=

REDIS_HOST=redis
REDIS_PASSWORD=

SMTP_GLOBAL_FROM=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=

IMAGE_ENDPOINT=images
IMAGE_PORT=3900
IMAGE_BUCKET=
IMAGE_ACCESS_KEY=
IMAGE_SECRET_KEY=
# Generate with: openssl rand -hex 32
GARAGE_RPC_SECRET=

SUBSCRIPTION_CACHE_TTL=

# FRONT DOMAINS
SPACE_URL=
PUBLIC_URL=
SUPERADMIN_URL=

# SHIRA PAYMENTS
INTERNAL_SHIRA_API_KEY=
SHIRA_PAYMENTS_URL=
SHIRA_LIBRARY_URL=

#CORS
COOKIE_DOMAIN=
