# Set your domain names here
SPACES_DOMAIN=spaces.shira.app
QUIZ_DOMAIN=quiz.shira.app

# Generate these secrets
JWT_SECRET=
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=
REDIS_PASSWORD=

# Must be generated with: openssl rand -hex 32
GARAGE_RPC_SECRET=

# Fill these after first run
IMAGE_ACCESS_KEY=
IMAGE_SECRET_KEY=

TZ=UTC

MYSQL_HOST=db
MYSQL_DATABASE=shira
MYSQL_USER=shira

REDIS_HOST=redis

SMTP_GLOBAL_FROM=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=

IMAGE_ENDPOINT=images
IMAGE_PORT=3900
IMAGE_BUCKET=shira

SUBSCRIPTION_CACHE_TTL=

# FRONT DOMAINS
SPACE_URL=
PUBLIC_URL=
SUPERADMIN_URL=

# SHIRA PAYMENTS
INTERNAL_SHIRA_API_KEY=
SHIRA_PAYMENTS_URL=
SHIRA_LIBRARY_URL=

#CORS
COOKIE_DOMAIN=
