  .tooltip {
    font-family: 'Open Sans';
    display: inline-block;
    font-weight: 400;
    padding: 20px;
    font-size: 16px;
    line-height: 22px;

    border: 2px solid #9FB747;
    border-radius: 16px;
    background-color: #fff;
    color: #333030;
    z-index: 1000;

    max-width: 314px;
    box-sizing: border-box;
  }