resolver 127.0.0.11 valid=30s;

upstream api {
  zone api 64k;
  server api:3000 resolve;
}

server {
  listen 80;
  server_name ${SPACES_DOMAIN};

  access_log off;

  root /var/www/spaces;
  index index.html index.htm;
  error_page 404 /404.html;

  location / {
    try_files $uri $uri/ /index.html;

    location /backend/ {
      proxy_pass http://api/;
      proxy_set_header X-Forwarded-Proto https;
    }
  }
}

server {
  listen 80;
  server_name ${QUIZ_DOMAIN};

  access_log off;

  root /var/www/quiz;
  index index.html index.htm;
  error_page 404 /404.html;

  location / {
    try_files $uri $uri/ /index.html;

    location /backend/ {
      proxy_pass http://api/;
      proxy_set_header X-Forwarded-Proto https;
    }
  }
}

server {
  listen 80;
  server_name .${IMAGES_DOMAIN};

  location / {
    proxy_pass http://images:3900;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $host;
    proxy_max_temp_file_size 0;
  }
}
