{{#> layout }}
  <div>
    <p style="margin-bottom: 4px;">
      Hello,
    </p>
    <p>
      Please confirm your registration going to <a href="https://shira.app/backend/confirm?hash={{ invitationHash }}" target="_blank">this link</a>
    </p>
  </div>
{{/layout}}