{{#> layout }}
<div>
    <p style="margin-bottom: 4px;">
        Hello,
    </p>
    <p>
        You have been invited to take a quiz as a Learner in a Shira space. Please click on the link below to go to your
        quiz:
    </p>
    <p>
        <a href="{{ magicLink }}" target="_blank">Go to quiz</a>
    </p>
</div>
{{/layout }}