{{#> layout }}
<div>
    <p style="margin-bottom: 4px;">
        Hello,
    </p>
    <p>
        You have been invited to become a Learner in a Shira space. Please click on the link below to complete your
        registration:
    </p>
    <p>
        <a href="{{ magicLink }}" target="_blank">Create your Shira space</a>
    </p>
</div>
{{/layout }}