{{#> layout-without-footer }}
<div>
    <p style="margin-bottom: 4px;">
        Hello,
    </p>
    <p>
        You've been invited by {{organization}} to join their Shira space. <a href="https://shira.app"
            target="_blank">Shira</a> is an anti-phishing education platform.
    </p>
    <p></p>
    <p>
        To join, you only need to click <a href="{{ magicLink }}" target="_blank">on this link</a>. Once you've joined,
        you will be able to take private quizzes assigned to you by your space administrators.
    </p>
</div>
{{/layout-without-footer }}