{{#> layout-without-footer }}
<div>
    <p style="margin-bottom: 4px;">
        Hello,
    </p>
    <p>
        You've been invited by {{organization}} to take the quiz "{{quizTitle}}" in <a href="https://shira.app"
            target="_blank">Shira</a>, the anti-phishing education platform.
    </p>
    <p>
        To take the quiz, click <a href="{{ magicLink }}" target="_blank">on this link</a>.
    </p>
</div>
{{/layout-without-footer }}