{{#> layout }}
  <div>
    <p style="margin-bottom: 4px;">
      Hello,
    </p>
    <p>
      You have been invited to create a Shira space. Please click on the link below to complete your registration:
    </p>
    <p>
      <a href="{{ magicLink }}" target="_blank">Create your Shira space</a>
    </p>
    <p>
      If you did not request this invitation, please ignore this email.
    </p>
  </div>
{{/layout }}